##
*.suo
*.user
*.sln.docstates
*.userprefs

# Pasta de configurações do Visual Studio
.vs/

# Pastas de compilação (Build)
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/

# Arquivos de pacotes NuGet
packages/
*.nupkg
